.message-container{
    display: flex;
    flex-direction: row;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: 5px;
}
.message-container p{
    padding: 5px 5px;
    margin: 0;
    font-family: sans-serif;
}
.time{
    position: absolute;
    right: 1%;
}
.me{
    background-color: #25D366;
    left: 21%;
}

.not-me{
    background-color: lightgray;
    left: 2%;
}